@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Benefits Center</h1>
    <p class="lead">Register to setup your benefits!</p>
</div>

<div class="row">
  <h3>Right now this is just a placeholder. With this solution you can try the following:</h3>
  <ul>
    <li>Run unit tests via Chutzpah (or ReSharper)</li>
    <li>Get integrated linting via WebEssentials and JSHint</li>
    <li>Run gulp tasks through Task Runner Explorer</li>
    <li>Utilize qunit tests and eslint linting through gulp</li>
  </ul>
</div>